<ion-content class="ion-padding">
  <div class="container">
    <img
      *ngIf="theme === 'dark'"
      class="robot-img"
      src="/assets/robot.svg"
      alt="Imagem do Robô."
    />

    <img
      *ngIf="theme === 'light'"
      class="robot-img"
      src="/assets/robot_light.svg"
      alt="Imagem do Robô."
    />

    <div class="robot-text" *ngIf="reachedTheGoal === null && !isGoingHome">
      <h1>{{ 'ongoing.followMe' | translate }}</h1>
      <h2>
        {{ 'ongoing.followMeMessage' | translate }}
        <strong>{{ location }}</strong>.
      </h2>
    </div>

    <div class="robot-text" *ngIf="reachedTheGoal">
      <h1>{{ 'ongoing.weArrived' | translate }}</h1>
      <h2>
        {{ 'ongoing.weArrivedMessage' | translate }}
        <strong>{{ secondsRemainToReturn }}s</strong>.
      </h2>
    </div>

    <div class="robot-text" *ngIf="isGoingHome">
      <h1>{{ 'ongoing.goingBack' | translate }}</h1>
      <h2>{{ 'ongoing.goingBackMessage' | translate }}</h2>
    </div>

    <div class="wrong-location" *ngIf="reachedTheGoal === null">
      <span>{{ 'ongoing.wrongLocation' | translate }}</span>
      <ion-button class="red-button" (click)="cancelMove()">
        {{ 'ongoing.stop' | translate }}
      </ion-button>
    </div>

    <div class="wrong-location" *ngIf="reachedTheGoal">
      <ion-button class="green-button" (click)="endsReturnCountdown()">
        {{ 'ongoing.end' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
