<div class="container">
  <div class="center-container">
    <robodc-text>Entendo que situações como essa podem ser difíceis. Ninguém gosta de se sentir estressado, não é mesmo</robodc-text>
    <robodc-text>Você consegue me dizer a causa do problema?</robodc-text>

    <div class="buttons-container">
      <robodc-button (onClick)="goToStudy()" label="Estudo" size="lg" variant="info" [fullWidth]="true" />
      <robodc-button label="Trabalho" size="lg" variant="info" [fullWidth]="true" />
    </div>
    <div class="buttons-container">
      <robodc-button label="Pessoas" size="lg" variant="info" [fullWidth]="true" />
      <robodc-button label="Estou melhor!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
