<div class="container">
  <div class="center-container">
    <robodc-text>Que tal algumas dicas ou técnicas de respiração e relaxamento?</robodc-text>

    <div class="buttons-container">
      <robodc-button (onClick)="goToStudyTips()" label="Dicas de estudo" size="lg" variant="info" [fullWidth]="true" />
      <robodc-button label="Técnicas de respiração" size="lg" variant="info" [fullWidth]="true" />
      <robodc-button label="Técnicas de relaxamento" size="lg" variant="info" [fullWidth]="true" />
      <robodc-button label="Já estou me sentindo melhor!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
