<div class="container">
  <div class="center-container">
    <robodc-text>Saiba que é normal sentir pressão, mas cada desafio é uma oportunidade para crescer. Dê o seu melhor, mas <robodc-text [info]="true">não se esqueça de cuidar de si mesmo no processo.</robodc-text></robodc-text>
    <robodc-text>Lembre-se de que o equilíbrio entre trabalho e vida pessoal é fundamental para manter sua saúde mental.</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
