<div class="container">
  <div class="center-container">
    <robodc-text>Sei que os estudos estão causando insônia, e isso pode ser desgastante. Sua dedicação é admirável, mas lembre-se de que cuidar do seu sono é essencial para um desempenho melhor. <robodc-text [info]="true">Tire pequenos intervalos, respire profundamente e permita-se descansar. </robodc-text> Você está fazendo um ótimo trabalho, e eu estou aqui para apoiar e incentivar. Acredite em sua capacidade de superar esses desafios!</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
