<div class="container">
  <div class="center-container">
    <robodc-text>Entendo como pode ser difícil a insegurança nos estudos, mas quero lembrar que você é mais capaz do que imagina. Cada desafio é uma oportunidade de aprendizado, e seus esforços não passam despercebidos.</robodc-text>
    <robodc-text>Acredite em seu potencial! <robodc-text [info]="true">Lembre-se de que todos têm o seu próprio ritmo de aprendizado.</robodc-text> Celebre suas conquistas, por menores que sejam, e <robodc-text [info]="true"> não se compare aos outros.</robodc-text></robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
