<div class="container">
  <div class="center-container">
    <robodc-text>Cada desafio no trabalho é uma oportunidade de crescimento, mas também é fundamental estabelecer limites. <robodc-text [info]="true">Não hesite em comunicar suas necessidades e buscar apoio quando necessário.</robodc-text></robodc-text>
    <robodc-text>Confie na sua habilidade, celebre suas realizações, por menores que sejam, e lembre-se de que o equilíbrio entre trabalho e vida pessoal é crucial.</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
