<div class="container">
  <div class="center-container">
    <robodc-text>Entendo que uma rotina desafiadora pode ser exaustiva, e quero reconhecer o esforço admirável que você dedica diariamente. Lidar com as demandas da vida cotidiana nem sempre é fácil.</robodc-text>
    <robodc-text>Tire um momento para <robodc-text [info]="true">respirar fundo, cuidar de si mesmo</robodc-text> e encontrar <robodc-text [info]="true">pequenos momentos de alegria</robodc-text> no meio da rotina. Lembre-se de que está tudo bem pedir ajuda quando necessário.</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
