<div class="container">
  <div class="center-container">
    <robodc-text>Entendo que o estresse nos estudos pode ser avassalador, mas quero lembrar que você está fazendo o seu melhor.<robodc-text [info]="true">Permita-se pausas, respire fundo e lembre-se de que a sua saúde mental é tão importante quanto os estudos.</robodc-text></robodc-text>
    <robodc-text>Cada desafio é uma oportunidade de crescimento, e seus esforços não passam despercebidos. Não hesite em pedir ajuda quando necessário!</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
