<div class="container">
  <div class="center-container">
    <robodc-text>Entendo que o trabalho está impactando o seu sono, e isso pode ser realmente desafiador. Sua dedicação é notável, mas é importante lembrar de <robodc-text [info]="true">equilibrar o profissional com o pessoal</robodc-text>. Tire um tempo para <robodc-text [info]="true">relaxar, desconectar e recarregar</robodc-text> suas energias. Você merece descansar para continuar oferecendo seu melhor. Lembre-se de que você é mais do que suas responsabilidades profissionais, e sua saúde é uma prioridade.</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
