<div class="container">
  <div class="center-container">
    <robodc-text>Entendo que situações como essa podem ser difíceis. O <robodc-text [info]="true">cansaço</robodc-text> deve ser levado a sério!</robodc-text>
    <robodc-text>Você consegue me dizer a causa do problema?</robodc-text>

    <div class="buttons-container">
      <robodc-button (onClick)="navigateTo('/emotions-response/tiredness/studies')" label="Estudo" size="lg" variant="info" [fullWidth]="true" />
      <robodc-button (onClick)="navigateTo('/emotions-response/tiredness/work')" label="Trabalho" size="lg" variant="info" [fullWidth]="true" />
    </div>
    <div class="buttons-container">
      <robodc-button (onClick)="navigateTo('/emotions-response/tiredness/routine')" label="Rotina" size="lg" variant="info" [fullWidth]="true" />
      <robodc-button (onClick)="navigateTo('/')" label="Estou melhor!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
