<div class="container">
  <div class="center-container">
    <robodc-text>Entendo que a insegurança no trabalho pode ser desafiadora, mas quero que saiba que você é talentoso e valioso para a equipe. <robodc-text [info]="true">Confie nas suas habilidades e no seu conhecimento, pois você conquistou seu lugar por mérito.</robodc-text></robodc-text>
    <robodc-text>Confie em sua capacidade, respire fundo diante dos desafios e lembre-se de que a insegurança faz parte do processo de crescimento. <robodc-text [info]="true">Você é capaz de superar esses sentimentos!</robodc-text></robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
