<div class="container">
  <div class="center-container">
    <div class="img-container">
      <img class="robot-image" src="/assets/robot-mini.svg" alt="" srcset="">
    </div>
    <strong style="text-align: center; font-size: 36px;">Método Pomodoro</strong>

    <robodc-text>Divida seu tempo de estudo em intervalos curtos, geralmente de 25 minutos, seguodos por uma pausa de 5 minutos</robodc-text>
    <robodc-text>Divida seu tempo de estudo em intervalos curtos, geralmente de 25 minutos, seguodos por uma pausa de 5 minutos]</robodc-text>
    <robodc-text>Após completar quatro ciclos Pomodoro, faça uma pausa mais longa, de 15-30 minutos!</robodc-text>
    
    <div class="buttons-container">
      <robodc-button label="Estou melhor, obrigado!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
