<div class="container">
  <div class="center-container">
    <robodc-text>Compreendo que o estresse causado por outras pessoas pode ser desafiador. Quero lembrar que você merece um ambiente positivo e respeitoso. <robodc-text [info]="true">Defenda seus limites e não hesite em expressar suas necessidades.</robodc-text></robodc-text>
    <robodc-text>Cada pessoa enfrenta desafios diferentes, e é importante lembrar que você não precisa carregar o peso de tudo sozinho. Busque apoio quando necessário!</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
