.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .locations-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    gap: .8rem;
    padding: 2rem 0;

    div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 10rem;
      height: 10rem;

      text-align: center;
      font-size: 1.3rem;

      background: #343434;
      box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
      border-radius: 11px;
      overflow: hidden;
    }
  }
}

ion-modal {
  --width: 85%;
  --min-height: 90%;
  --max-height: 90%;
  --border-radius: 8px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

  .modal-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;

    height: 100%;

    .modal-image-area {
      min-width: 40%;
      max-width: 40%;
      height: 100%;
      background-color: #303030;
      padding: 0;
      margin: 0;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .modal-content-area {
      display: flex;
      flex-direction: column;
      padding: 2.5rem 2rem;

      h1 {
        margin: 0;
        font-size: 2rem;
      }

      p {
        text-align: justify;
        color: #ABABAB;
        font-size: 1rem;
      }

      ion-button {
        margin-top: auto;
        height: 5rem;
        --color: #FFF;
        --background: #31B768;
      }
    }

    .map-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1.5rem 3rem 0 0;

      h1 {
        position: absolute;
        left: 1.5rem;
        top: 0;
      }

      .img-container {
        position: relative;
        width: 750px;
        height: 420px;
        padding: 0;

        img {
          object-fit: fill;
          width: 100%;
          height: 100%;
        }

        div {
          position: absolute;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;

          width: 75px;
          height: 75px;

          font-size: 1rem;

          border-radius: 100%;
          background: #343434;
          box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
        }

        #LE-1 {
          left: 21px;
          top: 27px;
        }

        #LE-2 {
          left: 102px;
          top: 27px;
        }

        #LE-3 {
          left: 182px;
          top: 27px;
        }

        #LE-4 {
          left: 262px;
          top: 27px;
        }

        #PPGCC4 {
          left: 408px;
          top: 27px;
        }

        #Maker {
          left: 495px;
          top: 27px;
        }

        #LE-6 {
          left: 584px;
          top: 27px;
        }

        #Auditorio {
          left: 665px;
          top: 59px;
        }

        #Banheiros {
          width: 60px;
          height: 60px;
          left: 29px;
          top: 138px;
        }

        #Copa {
          width: 60px;
          height: 60px;
          left: 7px;
          top: 198px;
        }

        #LIG {
          width: 60px;
          height: 60px;
          left: 29px;
          top: 258px;
        }

        #Churrasqueira {
          left: 98px;
          top: 201px;
        }

        #Reunioes {
          left: 262px;
          top: 258px;
        }

        #Chefia {
          width: 65px;
          height: 65px;
          left: 370px;
          top: 255px;
        }

        #Secretaria {
          width: 65px;
          height: 65px;
          left: 370px;
          top: 325px;
        }

        #Inicio {
          width: 65px;
          height: 65px;
          left: 441px;
          top: 283px;
        }
      }
    }

    .close-button {
      position: absolute;
      top: 16px;
      right: 16px;

      font-size: 2.3rem;
    }
  }
}

ion-fab-button {
  --background: #E35B5D;
  --border-radius: 8px;
  --color: #FFF;
  width: 6.5rem;
  height: 6.5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
    font-weight: 300;

    ion-icon {
      font-size: 2.5rem;
    }
  }
}
