<ion-content class="ion-padding">
  <span class="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Voltar
  </span>

  <div class="container">
    <h1>Para onde vamos?</h1>

    <div class="locations-area">
      <div
        class="ion-activatable"
        *ngFor="let location of locations"
        (click)="presentModal(location)"
      >
        {{ locationsInfo[location].title }}

        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>

  <ion-modal>
    <ng-template>
      <ion-content>
        <div class="modal-container">
          <!-- Left side location image -->
          <div class="modal-image-area">
            <img
              src="/assets/{{ locationsInfo[selectedLocation].image }}"
              alt="Imagem do local."
            />
          </div>

          <!-- Right side content -->
          <div class="modal-content-area">
            <h1>{{ locationsInfo[selectedLocation].title }}</h1>
            <p>{{ locationsInfo[selectedLocation].description }}</p>

            <ion-button expand="block" size="large" (click)="goToOngoingPage()">
              Me leve até lá
            </ion-button>
          </div>

          <!-- Modal close button -->
          <div class="close-button" (click)="dismissModal()">
            <ion-icon name="close-outline"></ion-icon>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
