<ion-content [fullscreen]="true">
  <div class="container">
    <div class="welcome-area">
      <img
        *ngIf="theme === 'dark'"
        src="/assets/logo_ufscar_branco.png"
        alt="Logo da UFSCar"
        (click)="configCountdown()"
      />

      <img
        *ngIf="theme === 'light'"
        src="/assets/logo_ufscar.png"
        alt="Logo da UFSCar"
        (click)="configCountdown()"
      />

      <div class="welcome-message">
        <h1>{{ 'home.welcome' | translate }}</h1>
        <h2>{{ 'home.guideMessage' | translate }}</h2>
      </div>

      <img
        src="/assets/logo_dc.png"
        alt="Logo do Departamento de Computação"
        (click)="chessCountdown()"
      />
    </div>

    <div class="button-area">
      <div class="ion-activatable ripple-parent" (click)="goToLocationsPage()">
        {{ 'home.location' | translate }}
        <img
          src="/assets/localizacao.svg"
          alt="Icone do botão de localização"
        />

        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="ion-activatable ripple-parent" (click)="goToRUPage()">
        {{ 'home.ru' | translate }}
        <img src="/assets/ru.svg" alt="Icone do botão do RU" />

        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="ion-activatable ripple-parent" (click)="goToEventsPage()">
        {{ 'home.events' | translate }}
        <img src="/assets/eventos.svg" alt="Icone do botão de eventos" />

        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>

    <!-- SPACER -->
    <div style="height: 4.5rem"></div>

    <div class="bottom-elements">
      <div class="left-elements">
        <div class="theme-icon">
          <ion-icon
            name="moon"
            *ngIf="theme === 'dark'"
            (click)="changeTheme('light')"
          ></ion-icon>

          <ion-icon
            name="sunny"
            *ngIf="theme === 'light'"
            (click)="changeTheme('dark')"
          ></ion-icon>
        </div>

        <div class="sound-icon">
          <ion-icon
            name="volume-high"
            *ngIf="ttsService.tssIsOn"
            (click)="changeTts(false)"
          ></ion-icon>

          <ion-icon
            name="volume-mute"
            *ngIf="!ttsService.tssIsOn"
            (click)="changeTts(true)"
          ></ion-icon>
        </div>
      </div>

      <div class="rigth-elements">
        <div class="ion-activatable">
          <img
            src="/assets/flags/us.png"
            alt="United States flag"
            (click)="changeLanguage('en-US')"
          />

          <ion-ripple-effect></ion-ripple-effect>
        </div>

        <div class="ion-activatable">
          <img
            src="/assets/flags/br.png"
            alt="Brazilian flag"
            (click)="changeLanguage('pt-BR')"
          />

          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>
  </div>
</ion-content>
