<ion-content [fullscreen]="true">
  <div class="container">
    <div class="welcome-area">
      <img
        *ngIf="theme === 'dark'"
        src="/assets/logo_ufscar_branco.png"
        alt="Logo da UFSCar"
        (click)="configCountdown()"
      />

      <img
        *ngIf="theme === 'light'"
        src="/assets/logo_ufscar.png"
        alt="Logo da UFSCar"
        (click)="configCountdown()"
      />

      <div class="welcome-message">
        <h1>{{ 'home.welcome' | translate }}</h1>
        <h2>{{ 'home.guideMessage' | translate }}</h2>
      </div>

      <img
        src="/assets/logo_dc.svg"
        alt="Logo do Departamento de Computação"
        (click)="chessCountdown()"
      />
    </div>

    <div class="button-area">
      <div class="ion-activatable ripple-parent" (click)="goToLocationsPage()">
        {{ 'home.location' | translate }}
        <img src="/assets/localizacao.svg" alt="Icone do botão de localização" />
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="ion-activatable ripple-parent" (click)="goToRUPage()">
        {{ 'home.ru' | translate }}
        <img src="/assets/ru.svg" alt="Icone do botão do RU" />
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <!-- <div class="ion-activatable ripple-parent" (click)="goToEventsPage()">
        {{ 'home.events' | translate }}
        <img src="/assets/eventos.svg" alt="Icone do botão de eventos" />

        <ion-ripple-effect></ion-ripple-effect>
      </div> -->

      <div class="ion-activatable ripple-parent expressions-button" (click)="goToExpressionsPage()">
        <div class="inner-content">
          {{ 'home.expressions' | translate }}

          <div [style.opacity]="faceApi.currentEmotion === '' ? 0 : 100" [style.color]="faceApi.expressionColor" class="expressions-assets">
            <svg id="left1" width="186" height="582" viewBox="0 0 186 582" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M137.84 573.029C174.698 546.585 167.797 488.289 161.121 462.231C151.817 425.917 151.524 314.026 165.065 281.439C238.965 103.588 91.1353 27.2719 31.4115 1.86388C-28.3123 -23.5441 18.5915 374.145 16.9572 457.134C15.3229 540.124 91.7683 606.083 137.84 573.029Z" fill="currentColor" fill-opacity="0.38"/>
            </svg>
            <svg id="left2" width="180" height="475" viewBox="0 0 180 475" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M84.5928 471.023C121.45 444.579 125.269 409.581 118.593 383.523C109.289 347.21 142.617 298.049 156.158 265.462C230.058 87.6112 108.817 28.431 49.0928 3.02305C-10.6311 -22.3849 2.2271 120.033 0.592775 203.023C-1.04155 286.013 38.5206 504.078 84.5928 471.023Z" fill="currentColor" fill-opacity="0.49"/>
            </svg>
            <svg id="top1" width="586" height="184" viewBox="0 0 586 184" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.99214 114.872C32.3564 153.136 91.223 152.253 117.611 147.028C154.383 139.747 207.859 142.36 239.647 157.683C413.137 241.308 555.497 98.4293 584.17 40.2025C612.843 -18.0243 213.169 6.8079 130.396 0.585136C47.6237 -5.63763 -22.4632 67.0419 7.99214 114.872Z" fill="currentColor" fill-opacity="0.38"/>
            </svg>
            <svg id="top2" width="586" height="184" viewBox="0 0 586 184" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.99214 114.872C32.3564 153.136 91.223 152.253 117.611 147.028C154.383 139.747 207.859 142.36 239.647 157.683C413.137 241.308 555.497 98.4293 584.17 40.2025C612.843 -18.0243 213.169 6.8079 130.396 0.585136C47.6237 -5.63763 -22.4632 67.0419 7.99214 114.872Z" fill="currentColor" fill-opacity="0.38"/>
            </svg>
            <svg id="right1" width="206" height="589" viewBox="0 0 206 589" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M101.144 5.47703C60.8039 26.2247 56.278 84.9237 59.0576 111.68C62.931 148.966 55.4186 201.975 37.242 232.222C-61.9617 397.3 67.2414 552.179 122.589 586.077C177.937 619.976 189.91 219.71 203.708 137.858C217.505 56.0071 151.568 -20.4576 101.144 5.47703Z" fill="currentColor" fill-opacity="0.38"/>
            </svg>
            <svg id="right2" width="209" height="389" viewBox="0 0 209 389" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M53.4618 371.083C66.5823 409.636 143.282 375.424 147.052 356.462C152.307 330.037 112.31 272.869 135.416 261.016C261.527 196.326 198.054 0.807434 135.42 0.807432C70.8342 0.807427 -22.1658 56.3938 5.92276 122.699C42.83 209.822 25.878 290.031 53.4618 371.083Z" fill="currentColor" fill-opacity="0.49"/>
            </svg>
          </div>
        </div>

        <img src="/assets/exprecoes.svg" alt="Icone do botão de expressões" />
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>

    <!-- SPACER -->
    <div style="height: 4.5rem"></div>

    <div class="bottom-elements">
      <div class="left-elements">
        <div class="theme-icon">
          <ion-icon
            name="moon"
            *ngIf="theme === 'dark'"
            (click)="changeTheme('light')"
          ></ion-icon>

          <ion-icon
            name="sunny"
            *ngIf="theme === 'light'"
            (click)="changeTheme('dark')"
          ></ion-icon>
        </div>

        <div class="sound-icon">
          <ion-icon
            name="volume-high"
            *ngIf="ttsService.tssIsOn"
            (click)="changeTts(false)"
          ></ion-icon>

          <ion-icon
            name="volume-mute"
            *ngIf="!ttsService.tssIsOn"
            (click)="changeTts(true)"
          ></ion-icon>
        </div>
      </div>

      <div class="rigth-elements">
        <div class="ion-activatable">
          <img
            src="/assets/flags/us.png"
            alt="United States flag"
            (click)="changeLanguage('en-US')"
          />

          <ion-ripple-effect></ion-ripple-effect>
        </div>

        <div class="ion-activatable">
          <img
            src="/assets/flags/br.png"
            alt="Brazilian flag"
            (click)="changeLanguage('pt-BR')"
          />

          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>
  </div>
</ion-content>
