<div class="container">
  <div class="center-container">
    <robodc-text>Entendo que enfrentar ansiedade nos estudos pode ser desafiador, mas quero que saiba que você não está sozinho nessa jornada. É completamente normal sentir essa pressão, e eu acredito na sua capacidade de superar cada obstáculo.</robodc-text>
    <robodc-text>Lembre-se de que o <robodc-text [info]="true">aprendizado é um processo gradual, e o mais importante é o progresso, não a perfeição!</robodc-text></robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
