<div class="container">
  <div class="center-container">
    <robodc-text>Compreendo que o trabalho pode ser desafiador e cansativo, e quero expressar minha admiração pela sua dedicação. Sei que cada esforço no trabalho contribui para o seu crescimento e sucesso. Lembre-se de <robodc-text [info]="true">cuidar de si mesmo, permita-se pausas quando necessário e reconheça a importância do seu trabalho.</robodc-text></robodc-text>
    <robodc-text>Este cansaço é temporário, mas as conquistas que você está alcançando são duradouras!</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
