<ion-content class="ion-padding">
  <span class="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Voltar
  </span>

  <div class="container">
    <h2>Hoje - 07 de Fevereiro</h2>

    <div class="events-list">
      <div class="event" *ngFor="let event of events">
        <div class="event-img"></div>

        <div class="event-details">
          <h3>{{ event.title }}</h3>
          <p>{{ event.description }}</p>
          <span>
            {{ event.datetime }} <br />
            {{ event.local }}
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
