<ion-content class="ion-padding">
  <span class="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    {{ 'common.back' | translate }}
  </span>

  <div class="container" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>

  <div class="container fetch-error" *ngIf="fetchError">
    <img src="/assets/sleep_robot.svg" alt="Imagem do Robô Dormindo." />
    <h3>Não foi possível obter os dados do Departamento de Computação</h3>
  </div>

  <div class="container" *ngIf="!loading && !fetchError">
    <div class="event-group" *ngFor="let eventGroupKey of eventsGroupsKeys">
      <h2>{{ eventGroupKey | date: 'longDate' }}</h2>

      <div class="events-list">
        <div class="event" *ngFor="let event of events[eventGroupKey]">
          <div class="event-img">
            <img
              src="https://picsum.photos/seed/{{ event.id }}/300/300"
              alt=""
            />
          </div>

          <div class="event-details">
            <h3>{{ event.Titulo }}</h3>
            <p>{{ event.Descricao }}</p>
            <span>
              {{ event.Data | date: 'short' }}<br />
              {{ event.Local }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
