<ion-content class="ion-padding">
  <span class="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Voltar
  </span>

  <div class="container">
    <div class="event-group" *ngFor="let eventGroupKey of eventsGroupsKeys">
      <h2>{{ eventGroupKey | date: 'longDate' }}</h2>

      <div class="events-list">
        <div class="event" *ngFor="let event of events[eventGroupKey]">
          <div class="event-img">
            <img
              src="https://picsum.photos/seed/{{ event.id }}/300/300"
              alt=""
            />
          </div>

          <div class="event-details">
            <h3>{{ event.Titulo }}</h3>
            <p>{{ event.Descricao }}</p>
            <span>
              {{ event.Data | date: 'short' }}<br />
              {{ event.Local }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
