<div class="container">
  <div class="center-container">
    <robodc-text>Valorize suas qualidades únicas, pois são elas que fazem de você uma pessoa extraordinária. A verdadeira beleza vem da autenticidade e confiança em si mesmo.<robodc-text [info]="true"> Não se compare aos padrões externos, pois a verdadeira beleza está na diversidade.</robodc-text></robodc-text>
    <robodc-text>Seja gentil consigo mesmo, celebre suas características únicas e saiba que sua autenticidade é sua maior fortaleza.</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
