<div class="container">
  <div class="center-container">
    <robodc-text>Compreendo que a sua saúde esteja interferindo no seu sono, e isso deve ser bastante desafiador. Priorizar o autocuidado é fundamental nesses momentos. Não hesite em <robodc-text [info]="true">buscar o suporte médico necessário e reserve um tempo para descansar e recuperar suas energias.</robodc-text> Sua saúde é valiosa. Cuidar de si mesmo é uma decisão sábia, e estou torcendo por sua pronta recuperação.</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
