<div class="container">
  <div class="center-container">
    <robodc-text>Sei que o medo pode ser esmagador, mas quero que saiba que sua coragem é maior do que qualquer receio. É normal sentir medo, mas não deixe que isso impeça você de seguir em frente.</robodc-text>
    <robodc-text>Encare o medo como uma <robodc-text [info]="true">oportunidade de crescimento e aprendizado.</robodc-text> Lembre-se de que é possível superar desafios, um passo de cada vez.</robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
