<div class="container">
  <div class="center-container">
    <robodc-text>Entendo o quanto os estudos podem ser exaustivos e desafiadores, mas quero que saiba o quão admirável é o esforço que você está dedicando a essa jornada. Cada página virada e cada momento de concentração são passos valiosos em direção aos seus objetivos!</robodc-text>
    <robodc-text>Lembre-se de que é normal sentir cansaço. <robodc-text [info]="true">Permita-se pausas</robodc-text> quando necessário e <robodc-text [info]="true">cuide de si mesmo!</robodc-text></robodc-text>
    <robodc-text>Para o momento, que tal uma <robodc-text [info]="true">piada?</robodc-text></robodc-text>

    <div class="buttons-container">
      <robodc-button label="Agora não" size="lg" variant="danger" [fullWidth]="true" />
      <robodc-button (onClick)="goToJokes()" label="Vamos lá!" size="lg" variant="success" [fullWidth]="true" />
    </div>
  </div>
</div>
